
//font

$font-main:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;;
$font-secondary: 'Cera Round Pro DEMO', sans-serif;

// //color

$white: #fff;
$dark: #000;
$weight-dark: #0f172a;
$primary: #059669;
$primary-dark: #059669;
$light-dark: #303030;
$accent: #FBB036;
$light: #F8FAFC;
$light-white: #FCFCFF;
$blue: #3B82F6;
$gray: #64748b;
$input-color: #F5F7F9;
$light-purple: #595B75;
:root {
    --secondary: #3B82F6;
}